---
layout: master
---

<header class="top-nav">
  <nav class="navbar">
    <div class="navitem button"><a href="{{ "/posts" | relative_url }}">posts</a></div>
    <div class="navitem button"><a href="{{ "/contact" | relative_url }}">contact</a></div>
  </nav>
</header>

<section class="feature-section">
  <img src="http://placekitten.com/800/600" class="img-responsive" alt="kitten" />
</section>
<section class="feature-section">
  {% assign latest_post = site.posts[0] %}
  {% include post_excerpt.html post=latest_post %}
</section>
<section class="feature-section">
  {% include collect_categories.html source=site %}
  {% for category in sorted_categories %}
  <a href="{{ category | relative_url }}" class="block-link h2">{{ category }}</a>
  {% endfor %}
</section>
