.feature-section
  margin: 0
  padding: 3px 3px
  border-top: 1px solid black
  border-bottom: 1px solid black


.top-nav
  width: 100%

.flex-row-container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center
  align-items: center

.flex-row-item
  flex-grow: 1

/* NavBar
.navbar
  @extend .flex-row-container

.navitem
  @extend .flex-row-item

.page-header, .page-footer
  padding: 7px

.page-footer
  @extend .flex-row-container

.page-footer-item
  @extend .flex-row-item
  text-align: center
