.feature-section
  margin: 0
  padding: 3px 3px
  border-bottom: 1px solid black

.top-nav
  width: 100%

.site-header, .site-footer
  width: 100%
  margin: 0
  padding: 7px

.site-header
  font-family: $headingFontStack
  font-size: $headingFontSize
  a, a:visited, a:hover, a:active
    font-family: $headingFontStack
    font-size: $headingFontSize

.site-footer
  @extend .flex-row-container

.site-footer-item
  @extend .flex-row-item
  text-align: center

.navbar
  @extend .flex-row-container

.navitem
  @extend .flex-row-item

.post-excerpt
  margin-bottom: 5px

.post-excerpt-image
  width: 30%
  height: 30%
  float: left
  margin: 0 7px 7px 0

.post-meta
  font-size: 85%
  font-weight: 300

.category-list
  list-style: none
  display: inline
  & > li
    display: inline-block
  & > li:after
    content: ' | '
  & > li:last-child:after
    content: ''
